body
{
  font-family: Arial, Helvetica, sans-serif;
  max-width: 512px;
  margin: auto;
  padding: 1em;
}

h1, h3, .center
{
  text-align: center;
}

#error
{
  text-align: center;
  padding: 0.5em;
  background-color: rgb(187, 130, 47);
  color: white;
  max-width: 512px;
  box-sizing: border-box;
}

#viewport *
{
  max-width: 100%;
  height: auto;
}

p{
  margin: auto;
  padding: 1em;
}
